/*////////////////////////////////////////
  common
////////////////////////////////////////*/

/* layout //////////*/
#container {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background: $lightgray;
  display: flex;
  flex-flow: column;
}

#wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: unset;
  //max-width: 112rem;
  width: 100%;
  height: auto;
  padding: 2rem;
  color: $black;
  .sec {
    padding: 2rem;
  }
  @include sp {
    .sec {
      padding: 0;
    }
  }
}

/* header //////////*/
.header {
  .inner {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .logo {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      h1 {
        a {
          display: inline-flex;
          svg {
            width: auto;
            height: 2rem;
            fill: $darkorange;
          }
        }
        span {
          display: none;
        }
      }
      p.sp {
        display: block;
        margin-left: 1rem;
        font-size: 1.6rem;
        color: $darkorange;
      }
    }
  }
  @include sp {
    .inner {
      .logo {
        h1 {
          span {
            display: none;
          }
        }
        p.sp {
          display: none;
        }
      }
    }
  }
}

/* footer //////////*/
footer {
  .inner {
    padding: 2rem;
    text-align: center;
    color: $darkgray;
    .nav {
      ul {
        display: flex;
        justify-content: center;
        margin-bottom: .5rem;
        li {
          &:first-of-type {
            margin-right: 2rem;
          }
          a {
            color: $darkgray;
            @include link;
            &:hover {
              color: $demigray;
            }
          }
        }
      }
    }
  }
}
