/*////////////////////////////////////////
  common
////////////////////////////////////////*/

/* layout //////////*/
#container {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background: $lightgray;
  display: flex;
  flex-flow: column;
  position: relative;
}

#wrapper {
  padding: 7.5rem 2rem 11.5rem;
  > .inner {
    max-width: 104rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: unset;
    color: $black;
  }
  @include sp {
    padding: 0 0 7.5rem;
  }
}

/* header //////////*/
.header {
  .inner {
    width: 100%;
    height: auto;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: $lightgray;
    //z-index: 99;
    .logo {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      h1 {
        a {
          display: inline-flex;
          svg {
            width: auto;
            height: 2rem;
            fill: $darkorange;
          }
        }
        span {
          display: none;
        }
      }
      p.sp {
        display: block;
        margin-left: 1rem;
        font-size: 1.6rem;
        color: $darkorange;
      }
    }
  }
  @include sp {
    .inner {
      position: static;
      .logo {
        h1 {
          span {
            display: none;
          }
        }
        p.sp {
          display: none;
        }
      }
    }
  }
}

/* footer //////////*/
footer {
  //padding: 2rem;
  .inner {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    color: $darkgray;
    position: absolute;
    bottom: 2rem;
    .nav {
      ul {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
        li {
          &:first-of-type {
            margin-right: 2rem;
          }
          a {
            color: $darkgray;
            @include link;
            &:hover {
              color: $demigray;
            }
          }
        }
      }
    }
  }
}

/* aside //////////*/
.left_aside {
  padding-right: 2rem;
  .inner {
    //max-width: 8rem;
    //width: 100%;
    width: 8rem;
    height: auto;
    .nav {
      display: block;
      text-align: center;
      position: fixed;
      ul.left_aside {
        li.common {
          margin-bottom: 2rem;
        }
        li.pc {
          display: block;
          margin-bottom: 2rem;
        }
        svg.pc {
          display: block;
        }
        li.sp {
          display: none;
        }
        svg.sp {
          display: none;
        }
      }
    }
  }
  @include sp {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5.7rem;
    //padding: 2rem;
    padding-right: 0;
    background: $lightgray;
    z-index: 98;
    .inner {
      width: 100%;
      height: auto;
      .nav {
        display: flex;
        position: static;
        ul.left_aside {
          width: 100%;
          height: 3.7rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          li.common {
            margin-bottom: 0;
          }
          li {
            .function_btn {
              padding: 2rem;
              margin-bottom: 2rem;
            }
            .new_btn {
              padding: 2rem;
              margin-bottom: 2rem;
              svg {
                width: auto;
                height: 2.7rem;
              }
            }
          }
          li.pc, svg.pc {
            display: none;
          }
          li.sp, svg.sp {
            display: block;
          }
          li.sp.home, li.sp.search {
            a {
              display: inline-flex;
              padding: 2rem;
              margin-bottom: 2rem;
              svg {
                width: auto;
                height: 2.7rem;
              }
            }
          }
        }
      }
    }
  }
}

.right_aside {
  padding-left: 2rem;
  display: block;
  .inner {
    max-width: 24rem;
    width: 100%;
    height: auto;
  }
  @include tab {
    display: none;
  }
}

/* system_errors //////////*/
.system_errors {
  padding-top: 8rem;
  text-align: center;
  color: $darkgray;
  h2 {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 3.2rem;
  }
  p {
    margin-bottom: 2rem;
    font-size: 2.4rem;
  }
  .btn.top {
    a {
      @include btn_top;
    }
  }
}
