/*////////////////////
  mixin
////////////////////*/

/* color pallet //////////*/
$white: #FFFFFF;
$demiwhite: #F4F8FB;
$darkgray: #657786;
$demigray: #CCD6DD;
$lightgray: #FAFAFA;
$black: #14171A;
$darkorange: #F45D22;
$lightorange: #FF8D57;
$darkblue: #1DA1F2;
$lightblue: #71C9F8;
$red: #EA0001;
$yellow: #EEEB18;

/* media query //////////*/
//$pc: 1040px;
$tab: 959px;
$sp: 559px;

/*
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
*/

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

/* link //////////*/
@mixin link {
  display: inline-flex;
  &:hover {
    transition: all 0.5s ease;
  }
}

/* btn //////////*/
@mixin btn {
  display: inline-flex;
  border-radius: 22px;
  font-weight: 600;
  &:hover {
    transition: all 0.5s ease;
  }
}

/* btn_login //////////*/
@mixin btn_login {
  padding: 1rem 11rem;
  background: $darkorange;
  color: $white;
  @include btn;
  &:hover {
    background: $lightorange;
  }
}

/* btn_twitter //////////*/
@mixin btn_twitter {
  padding: 1rem 5rem;
  border: 1px solid $darkblue;
  color: $darkblue;
  @include btn;
  &:hover {
    border: 1px solid $lightblue;
    color: $lightblue;
  }
}

/* btn_top //////////*/
@mixin btn_top {
  padding: 1rem 7rem;
  background: $darkorange;
  color: $white;
  @include btn;
  &:hover {
    background: $lightorange;
  }
}

/* btn_top //////////*/
@mixin btn_back {
  padding: 2rem;
  a {
    font-weight: 600;
    color: $darkorange;
    @include link;
    &:hover {
      color: $lightorange;
    }
  }
}

/* btn_upload //////////*/
@mixin btn_upload {
  input {
    padding: 1rem 11rem;
    background: $darkorange;
    border-radius: 22px;
    font-weight: 600;
    font-size: 1.4rem;
    color: $white;
    cursor: pointer;
    &:hover {
      transition: all 0.5s ease;
      background: $lightorange;
    }
    @include sp {
      padding: 1rem 8rem;
    }
  }
}
