/*////////////////////
  mixin
////////////////////*/

$white: #FFFFFF;
$darkgray: #657786;
$lightgray: #FAFAFA;
$black: #14171A;
$darkorange: #F45D22;
$lightorange: #FF8D57;
$darkblue: #1DA1F2;
$lightblue: #71C9F8;
$red: #EA0001;
