/*////////////////////////////////////////
  parts
////////////////////////////////////////*/

.logo.top {
  fill: $darkorange;
}

/*////////////////////////////////////////
  btn
////////////////////////////////////////*/

.function_btn {
  svg {
    width: 3.2rem;
    height: auto;
  }
}

.alert.index, .retweet_image.index, .favorite_image.index, .dustbox.index {
  fill: $demigray;
}

.back.detail, .retweet.detail {
  fill: $darkorange;
}

.retweet_image.active {
  fill: $darkorange;
}

.favorite_image.active {
  fill: $red;
}

.alert_image.active {
  fill: $yellow;
}

.retweet_image.noactive, .favorite_image.noactive, .alert_image.noactive {
  fill: $darkgray;
}