/*////////////////////
  reset
////////////////////*/
* {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 62.5%;
}

body {
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

input, button, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  //-webkit-appearance: none;
  //-moz-appearance: none;
  //appearance: none;
}

textarea {
  resize: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

a {
  font-size: 1.4rem;
}

small {
  font-size: 1.4rem;
}
