@charset 'utf-8';
@import '_reset.scss';
@import '_mixin.scss';
@import '_parts.scss';
@import '_js.scss';

/* ロゴの表示テスト */
/*.header {
.logo {
  display: none;
  h1 {
    a {
      img {
        height: 40px;
      }
    }
  }
}
}*/

svg {
  max-width: 50px;
}

img {
  max-width: 50px;
}
/*
#container {
  position: relative;
}
*/

.left_aside {
  .nav {
    display: block;
    ul {
      li.pc, svg.pc {
        display: block;
      }
      li.sp, svg.sp {
        display: none;
      }
    }
  }
  @include sp {
    position: fixed;
    bottom: 0;
    .nav {
      display: flex;
      ul {
        display: flex;
        align-items: flex-end;
        li.pc, svg.pc {
          display: none;
        }
        li.sp, svg.sp {
          display: block;
        }
      }
    }
  }
}

.footer {
  .nav.pc {
    display: block;
    @include sp {
      display: none;
    }
  }
}

.nav.sp {
  display: none;
  @include sp {
    display: block;
  }
}
