@import '_reset.scss';
@import '_mixin.scss';
@import '_js.scss';

/* ロゴの表示テスト */
/*.header {
.logo {
  display: none;
  h1 {
    a {
      img {
        height: 40px;
      }
    }
  }
}
}*/

img {
  max-width: 50px;
}